// Base

body {
    position: relative;
    background-color: $color_second;
    background-color: darken($color_main, 80%);
    overflow: auto;
}

.container {
    margin: 0 auto;
    max-width: 90%;
    position: relative;
}

.hero {
    position: relative;

    &__text {
        @extend %font-sans;
        line-height: 1.45;
        // mix-blend-mode: multiply;
        color: lighten($color_main, 30%);

        @include for-phone-only {
            font-size: 28px;
        }

        @include for-tablet-portrait-up {
            font-size: 42px;
        }

        @include for-desktop-up {
            font-size: 62px;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.paper__canvas {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    mix-blend-mode: multiply;
    // pointer-events: none;
    @include for-phone-only {
        // display: none;
    }
}