// Variables

// Colors
$color_second: #E3E2DF;
$color_main: #4764CD;


// Sizing
$largest: 2.441rem;
$large_med: 1.953rem;
$large: 1.563rem;
$base_large: 1.25rem;
$base: 1rem;
$base_small: .8rem;
$small: 0.64rem;
$small_med: 0.512rem;
$smallest: 0.4rem;

// Z-indices
$z_filter: 50;
$z_gallery: 100;
$z_nav: 150;


// Breakpoints
$bp_gallery_2col: 1100px;
$bp_gallery_1col: 760px;
$bp_mobile: 530px;